<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Password Recovery</title>
  </head>
  <body class="sign-in">
    <div class="container">
      <div class="left-pane">
        <div class="logo">
            <img src="{{ url_for('static', filename='assets/KangarooHR.svg')}}"/>
        </div>
    </div>
    <div class="right-pane">
      <div class="sign-in-form">
      <form class="form-elements">
        <h1 class="text-center">Password Recovery</h1>
        <p class="text-center">Enter your email to Recover your Password</p>
        <div class="input-div">
          <div class="input-div-tooltip">
            <div>
              <p>Email</p>
              <input type="text" placeholder="Enter Your Email Address" />
            </div>
          </div>
        </div>
        <div class="gradient-buttons">
          <div class="gradient-button-content">Send Password Reset Link</div>
        </div>
      </form>
      </div>
    </div>
    </div>
  </body>
</html>