<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kangaroo</title>
</head>

<body>
    <div class="divcontainer">
        <div class="one">
            <a href="{{ url_for('recruiter_bp.recruiter_home') }}"> <h4>Recruiter</h4></a>
        </div>
        <div class="two">
            <a href="{{ url_for('business_partner_bp.bp_home') }}"> <h4>Business Partner/Hiring Manager</h4></a>
        </div>
        <div class="three">
            <a href="{{ url_for('applicant_bp.applicant_home') }}"> <h4>Applicant</h4></a>
        </div>
    </div>
</body>

</html>