<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
  </head>
  <body>
    <div id="overlay" class="overlay"></div>
    <!-- Add this line for overlay -->
    <div class="stop-scroll" id="disable-scroll">
      <div class="content-cont">
        <div>
          <div class="test">
            <header class="nav">
              <div class="nav-container">
                <div class="nav-logo">
                  <img src="{{ url_for('static', filename='assets/logoipsum-280.svg')}}" alt="" />
                </div>
                <div>
                  <ul class="nav-links">
                    <li class="emp tooltipfour" id="topnav">
                      <div class="profile">
                        
                        <div>Welcome {{full_name}}</div>
                        <div class="profile-img">
                          <img
                            src="{{ url_for('static', filename='assets/profile.jpg')}}"
                            alt="picture of a beautiful dog in red bandana"
                          />
                        </div>
                        <img src="{{ url_for('static', filename='assets/Arrow - Down.svg')}}" alt="arrow down" />
                        <span class="tooltiptext" id="tooltiptext">
                          <a href="{{ url_for('business_partner_bp.bp_profile') }}">
                            <div class="space-btw mb-5 profile-hover">
                              <div>
                                <span class="tip-header">Profile</span>
                                <p class="tip-header-desc">
                                  View Account Information
                                </p>
                              </div>
                              <img
                                src="{{ url_for('static', filename='assets/Arrow - Bottom - Right.svg')}}"
                                alt=""
                              />
                            </div>
                          </a>
                          <a href="{{ url_for('business_partner_bp.bp_logout') }}">
                            <div class="space-btw profile-hover">
                              <div>
                                <span class="tip-header">Sign Out</span>
                                <p class="tip-header-desc">
                                  Requires you to sign in again next time
                                </p>
                              </div>
                              <img
                                src="{{ url_for('static', filename='assets/Arrow - Bottom - Right.svg')}}"
                                alt=""
                              />
                            </div>
                          </a>
                        </span>
                      </div>
                      <!-- <div class="link-container" style="margin-top: 6px"></div> -->
                    </li>
                  </ul>
                </div>
              </div>
            </header>
          </div>
          <section class="bg-blue">
            <div class="main-container">
              <h4>Welcome Back {{full_name}}</h4>
              <div class="search-container-users">
                <div class="search-input">
                  <input type="text" placeholder="Search Applicants..." />
                  <div class="gradient-buttons">
                    <div class="gradient-button-content">Search</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="main-content">
            <div class="main-content-container">
              <div class="page-nav-content">
                <div class="page-nav">
                  <a href="{{ url_for('business_partner_bp.bp_homepage') }}">
                    <div class="page-nav-item-active">
                      <div class="page-nav-indicator-active"></div>
                      <div>
                        <h3 class="pni-header">Home</h3>
                        <div class="pni-desc">
                          Job posts
                        </div>
                      </div>
                    </div>
                  </a>
                  <a href="{{ url_for('business_partner_bp.bp_create_requisition') }}">
                    <div class="page-nav-item">
                      <div class="page-nav-indicator"></div>
                      <div>
                        <h3 class="pni-header">Make New Requisition</h3>
                        <div class="pni-desc">
                          Click here to add a new recruiter
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="page-content">
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>{{job_title}}</span></div>
                      <div class="job-title">Approval Status: <span>{{status}}</span></div>
                      <div class="job-title">Location: <span>{{location}}</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span></span></div>
                      <div class="job-title">Number of Open Positions: <span>{{number}}</span></div>
                    </div>
                  </div>
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>Technical Recruiter</span></div>
                      <div class="job-title">Approval Status: <span>Approved</span></div>
                      <div class="job-title">Location: <span>Lagos</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span>45</span></div>
                      <div class="job-title">Number of Open Positions: <span>3</span></div>
                    </div>
                  </div>
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>Technical Recruiter</span></div>
                      <div class="job-title">Approval Status: <span>Approved</span></div>
                      <div class="job-title">Location: <span>Lagos</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span>45</span></div>
                      <div class="job-title">Number of Open Positions: <span>3</span></div>
                    </div>
                  </div>
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>Technical Recruiter</span></div>
                      <div class="job-title">Approval Status: <span>Approved</span></div>
                      <div class="job-title">Location: <span>Lagos</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span>45</span></div>
                      <div class="job-title">Number of Open Positions: <span>3</span></div>
                    </div>
                  </div>
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>Technical Recruiter</span></div>
                      <div class="job-title">Approval Status: <span>Approved</span></div>
                      <div class="job-title">Location: <span>Lagos</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span>45</span></div>
                      <div class="job-title">Number of Open Positions: <span>3</span></div>
                    </div>
                  </div>
                  <div class="job-card-flex">
                    <div>
                      <div class="job-title">Job Title: <span>Technical Recruiter</span></div>
                      <div class="job-title">Approval Status: <span>Approved</span></div>
                      <div class="job-title">Location: <span>Lagos</span></div>
                    </div>
                    <div>
                      <div class="job-title">Number of Applicants: <span>45</span></div>
                      <div class="job-title">Number of Open Positions: <span>3</span></div>
                    </div>
                  </div>
                  <div class="data-table-pagination">
                    <div class="gradient-buttons">
                      <div class="gradient-button-content">
                        Next
                        <i
                          style="margin-left: 5px"
                          class="fa-solid fa-angle-right"
                        ></i>
                      </div>
                    </div>
                    <h3 class="pni-header">
                      Showing Page <span class="page-box">1</span> of 10 Pages
                    </h3>
                  </div>
                </div>
                
              </div>
            </div>
          </section>
          <div id="mySidepanel" class="sidepanel">
            <div class="back">
              <img src="{{ url_for('static', filename='assets/Arrow - Left.svg')}}" alt="back arrow" />
              <div onclick="closeNav()" class="back-text">Back</div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-rights">© 2024 All rights reserved</div>
        <div class="footer-project">Kangaroo</div>
      </footer>
    </div>
    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "450px";
        // document.getElementById("mySidepanel").classList.add("opened");
        document.getElementById("overlay").style.display = "block";
        document.getElementById("disable-scroll").style.overflowY = "hidden"; // Add class to indicate sidepanel is open
      }

      function openTooltip() {
        document.getElementById("tooltiptext").style.visibility = "visible";
      }

      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
        // document.getElementById("mySidepanel").classList.remove("opened");
        document.getElementById("overlay").style.display = "none"; // Remove class to indicate sidepanel is closed
      }
    </script>
  </body>
</html>
