<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kangaroo</title>
</head>

<body>
    <div class="container">
        <div class="left-pane">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/KangarooHR.svg') }}"/>
            </div>
        </div>
        <div class="right-pane">
            <form class="form-elements" action="{{ url_for('recruiter_bp.recruiter_login_post') }}", method="post">
                <p style="color:rgb(235, 9, 20);" class="message">{{error_message}}</p>
                <div class="input-flex">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="input-flex">
                    <label for="email">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <div class="forgot-password">
                    <a href="{{ url_for('recruiter_bp.recruiter_forgot_password') }}"><p>forgot password?</p></a>
                </div>
                <input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>

</html>