<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Kangaroo</title>
</head>

<body>
    <div class="container">
        <div class="left-pane">
            <div class="logo">
                <img src="{{ url_for('static', filename='assets/KangarooHR.svg') }}"/>
            </div>
        </div>
        <div class="right-pane">
            <form class="form-elements" action="{{ url_for('applicant_bp.create_applicant_new') }}", method="post">
                <div class="input-flex">
                    <label for="name">First Name</label>
                    <input type="text" name="first_name" id="first_name" placeholder="Enter your First Name">
                </div>
                <div class="input-flex">
                    <label for="name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Enter your Last Name">
                </div>
                <div class="input-flex">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Enter your email">
                </div>
                <div class="input-flex">
                    <label for="email">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                </div>
                <div class="input-flex">
                    <label for="email">Confirm Password</label>
                    <input type="password" id="password" placeholder="Please Re-Enter your password">
                </div>
                <div class="forgot-password">
                    <a href="{{ url_for('applicant_bp.applicant_login_get') }}"><p>Already got an account? Sign in</p></a>
                </div>
                <input type="submit" class="btn" value="Sign Up">
            </form>
        </div>
    </div>
</body>

</html>