<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
  </head>

  <body>
    <div id="overlay" class="overlay"></div>
    <!-- Add this line for overlay -->
    <div class="stop-scroll" id="disable-scroll">
      <div class="content-cont">
        <div>
          <div class="test">
            <header class="nav">
              <div class="nav-container">
                <div class="nav-logo">
                  <img src="../assets/logoipsum-280.svg" alt="" />
                </div>
                <div>
                  <ul class="nav-links">
                    <li class="emp tooltipfour" id="topnav">
                      <div class="profile">
                        <div>Welcome Mr. Applicant</div>
                        <div class="profile-img">
                          <img
                            src="../assets/profile.jpg"
                            alt="pictue of a beautiful dog in red bandana"
                          />
                        </div>
                        <img
                          src="../assets/Arrow - Down.svg"
                          alt="arrow down"
                        />
                        <span class="tooltiptext" id="tooltiptext">
                          <a href="Profile.html">
                            <div class="space-btw mb-5 profile-hover">
                              <div>
                                <span class="tip-header">Profile</span>
                                <p class="tip-header-desc">
                                  View Account Information
                                </p>
                              </div>
                              <img
                                src="../assets/Arrow - Bottom - Right.svg"
                                alt=""
                              />
                            </div>
                          </a>
                          <a href="SignIn.html">
                            <div class="space-btw profile-hover">
                              <div>
                                <span class="tip-header">Sign Out</span>
                                <p class="tip-header-desc">
                                  Requires you to sign in again next time
                                </p>
                              </div>
                              <img
                                src="../assets/Arrow - Bottom - Right.svg"
                                alt=""
                              />
                            </div>
                          </a>
                        </span>
                      </div>
                      <!-- <div class="link-container" style="margin-top: 6px"></div> -->
                    </li>
                  </ul>
                </div>
              </div>
            </header>
          </div>
          <section class="bg-blue">
            <div class="main-container">
              <h4>Profile</h4>
              <div class="profile-img-two">
                <div class="profile-img-content">
                  <img src="../assets/profile-pic.svg" alt="" />
                </div>
              </div>
            </div>
          </section>
          <section class="main-content">
            <div class="main-content-container-two">
              <div class="left-page-profile">
                <div class="left-page-content">
                  <div class="custom-bold left-page-profile-header">
                    Blacksheep Odumodu
                  </div>
                  <div class="role mid-grey-norm">
                    Your Role:
                    <div class="role-container">
                      <div class="role-cont-content blue-bold">Applicant</div>
                    </div>
                  </div>

                  <div class="left-page-content-three">
                    <hr class="hr-1" />
                    <div>
                      <p class="left-page-field">Email</p>
                      <p class="left-page-response mt-5">recruiter@recruitment.com</p>
                    </div>
                    <hr class="hr-2" />
                    <div class="left-page-password-field"></div>
                  </div>
                </div>
              </div>
              <div class="right-page-profile">
                <form class="sign-in-form mt-10">
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="First Name" />
                      </div>
                    </div>
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Last Name" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="email" placeholder="Email" />
                      </div>
                    </div>
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <label>Gender</label>
                        <select name="" id="">
                            <option value="">Male</option>
                            <option value="">Female</option>
                            <option value="">Prefer not to say</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="University" />
                      </div>
                    </div>
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Course of Study" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Current Employer" />
                      </div>
                    </div>
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Current Role" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Years of Experience" />
                      </div>
                    </div>
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Salary Expectations" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="number" placeholder="Phone Number" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <input type="text" placeholder="Other Relevant Information" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <label>Image</label>
                        <input type="file" placeholder="image" />
                      </div>
                    </div>
                  </div>
                  <div class="input-flex">
                    <div class="input-div">
                      <div class="input-div-tooltip">
                        <label>CV/Resume</label>
                        <input type="file" placeholder="CV/Resume" />
                      </div>
                    </div>
                  </div>
                  <div class="button-center">
                    <div class="gradient-buttons">
                      <div class="gradient-button-content">
                        Save Changes
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <div id="mySidepanel" class="sidepanel">
            <div class="back">
              <img src="../assets/Arrow - Left.svg" alt="back arrow" />
              <div onclick="closeNav()" class="back-text">Back</div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="footer-rights">© 2024 All rights reserved</div>
        <div class="footer-project">Powered by iQx</div>
      </footer>
    </div>
    <script>
      function openNav() {
        document.getElementById("mySidepanel").style.width = "450px";
        // document.getElementById("mySidepanel").classList.add("opened");
        document.getElementById("overlay").style.display = "block";
        document.getElementById("disable-scroll").style.overflowY = "hidden"; // Add class to indicate sidepanel is open
      }

      function openTooltip() {
        document.getElementById("tooltiptext").style.visibility = "visible";
      }

      function closeNav() {
        document.getElementById("mySidepanel").style.width = "0";
        // document.getElementById("mySidepanel").classList.remove("opened");
        document.getElementById("overlay").style.display = "none"; // Remove class to indicate sidepanel is closed
      }
    </script>
  </body>
</html>
